@font-face{
    font-family: "font_header";
    src: url(../images/font_header2.otf);
}
@font-face{
    font-family: "font_article";
    src: url("../images/font_article.ttf");
}
@font-face{
    font-family: "font_article2";
    src: url("../images/font_article2.otf");
}
body{
    margin: 0;
    background-color: white;
}
main{
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
/*menu - style*/
/*menu - style*/
#menu{
    top: 0;
    left:0;
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
    
}
#menu > ol{
    list-style-type: none;
    width: 100%;
    height: 100%;
 
}
#menu li{
    float: left;
    width: 24%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;

    &:hover{
    font-weight: 700;
    }
}
#menu li a{
    color: white;
    font-family: "font_article";
    text-decoration: none;
    font-size: calc(0.5vw + 0.6vh + 5px);
}
#menu ol li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 3px;
    background-color:white ; /* Kolor linii */
    transform: scaleX(0); /* Początkowo linia niewidoczna */
    transition: transform 0.4s ease; /* Animacja pojawienia się linii */
}
#menu ol li:hover a::after{
    transform: scaleX(1);
    
}

/*article - style*/
article{
    z-index: 1;
    position: relative;
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
/*article - header*/
#header{
    
    background-size: cover;
    text-transform: uppercase;
    padding: 5%;
    width: 100%;
    height: 50vh;
    padding-top:7em; 
    background: linear-gradient(132deg, #c57ab3, #f79490, #f6bf81, #f5e9dd);
    background-size: 300% 100%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}
#header img{
    width: 10vh;
    animation: spin 6s linear reverse infinite;
    
}
@keyframes spin{
    0%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(30deg);
    }
}
@-webkit-keyframes AnimationName {
    0%{background-position:74% 0%}
    50%{background-position:27% 100%}
    100%{background-position:74% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:74% 0%}
    50%{background-position:27% 100%}
    100%{background-position:74% 0%}
}
@keyframes AnimationName {
    0%{background-position:74% 0%}
    50%{background-position:27% 100%}
    100%{background-position:74% 0%}
}
h1{
    font-size: 12vh;
    margin: 0;
    font-family: "font_header";
    color: black;
    
}
h2{
 font-family: "font_header";
    font-size: 10vh;
    margin: 0;
    color: black;
}
button{
    margin-top: 3%;
    width: 15%;
    height: 10%;
    border-radius: 30px;
    max-width: 200px;
    min-width: 100px;
    font-size: 120%;
    border: 3px solid black;
    background-color: rgba(0,0,0, .01) ;
    color: #1D2440;
    transition: all 0.3s linear;
}
button:hover{
    background-color: rgba(100,100,100, .35) ;
    width: 17%;
    height: 11%;
    
}
button:hover a{
    color: background-color: rgba(100,100,100, .35) ;
    font-size: 110%;
}
button>a{
    text-decoration: none;
    color: black;
    font-family: font_article;
    font-weight: 700;
    transition: all 0.3s linear;
    
}
#aboutus{
    font-size: 100%;
    font-family: "font_article";
    color: black;
}
/*footer*/
footer{
    height: 10vh;
    width: 100%;
    position: relative;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #F89692;
    color: black;
    font-family: "font_article"; 
    font-weight: 700;
    
}
footer img{
    height: 90%;
    
}