
model-viewer{
    background-color: black;
    height: inherit;
    width: 50%;
   
}
article{
    display: flex;
    flex-direction: row;
    height: 60vh;
    background-color: black;
}
footer{
    bottom: 0;
}