
/*images in gallery*/
    /*left scroll gallery*/
h3{
    font-family: "font_article";
    color: BLACK;
    font-size: 2vh;
    
    font-weight: 100;
}
article{
    width: 100%;
    background-color: black ;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#blocks{
    width: 100%;
        padding: 5%;
        background: radial-gradient(circle, hsla(2, 87%, 77%, 0.5) 10%, hsla(0, 0%, 0%, 1) 30%, hsla(9, 28%, 5%, 1) 80%);
        display: flex;
        justify-content: space-around; 
        align-items: center;
}
#bleft{
        border: 1px solid gray;
        background-color:  black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
        border-radius: 3px;
}
#bleft2{
    height: 90%;
    width: 90%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}
    /*right scroll gallery*/
#bright{
    background-color:  black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

#rimage{
  
    
    padding: 3%;
    
}

/*media for phones */
@media all and (max-width:1000px){
    #blocks{
        flex-direction: column;
        height: calc(20vh + 50vw + 20px);
        
    }
    #bleft{
        width: 80%;
        padding: 1%;
        height: 20vh; 
        margin-bottom: 20px;
    }
    #bright{
        border: 1px solid gray;
        padding: 1%;
        width: 80%;
        height: 50vw;
    }
    #bright img{
        width: 50vw;
    }
    #bleft img{
        margin: 3%;
        width: 15vh;
    
}
}
@media all and (max-device-width:1000px){
    #blocks{
        flex-direction: column;
        height: calc(20vh + 50vw + 20px);
        
    }
    #bleft{
        width: 80%;
        padding: 1%;
        height: 20vh; 
        margin-bottom: 20px;
    }
    #bright{
        border: 1px solid gray;
        padding: 1%;
        width: 80%;
        height: 50vw;
    }
    #bright img{
        width: 50vw;
    }
    #bleft img{
        margin: 3%;
        width: 15vh;
    
}
}
/*media for pc */
@media all and (min-width:1000px){
    #blocks{
        flex-direction: row;
        height: 65vh;
    }
    #bleft{
        width: 20%;
        padding: 1%;
        height: 60vh;

    }
    #bright{
        border: 1px solid gray;
       padding: 1%;
        width: 70%;
       height: 60vh;
    }
    #bright img{
        height: 70%;
    }
    #bleft img{
        margin: 3%;
        width: 14vh;
    }
    #bleft2{
         flex-wrap: wrap; 
    }
}

