@font-face{
    font-family: "font_header";
    src: url(../images/fonts/font_header2.otf);
}
@font-face{
    font-family: "font_article";
    src: url("../images/fonts/font_article.ttf");
}
@font-face{
    font-family: "font_article2";
    src: url("../images/fonts/font_article2.otf");
}
body{
    margin: 0;
    background-color: black;
}
main{
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/*article - style*/
article{
    z-index: 1;
    position: relative;
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

/*article - header*/
#header{
    
    background-size: cover;
    text-transform: uppercase;
    padding: 5%;
    width: 100%;
    height: calc(50vh + (6vh + 6vw)/2);
    padding-top:7em; 
    background: linear-gradient(132deg, #f6bf81, #f79490, #f6bf81, #f5e9dd);
    background-size: 300% 100%;
    animation: AnimationName 3s ease infinite;
 
}
/*background header animation*/
#header img{
    width: 10vh;
    animation: spin 6s linear reverse infinite;
    
}

@keyframes spin{
    0%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(30deg);
    }
}
@-webkit-keyframes AnimationName {
    0%{background-position:74% 0%}
    50%{background-position:27% 100%}
    100%{background-position:74% 0%}
}

h1{
    font-size:calc(6vh + 6vw);
    margin: 0;
    font-family: "font_header";
    color: black;
    
}
h2{
 font-family: "font_header";
    font-size: calc(6vh + 5vw);
    margin: 0;
    color: black;
}

#aboutus{
    font-size: 100%;
    font-family: "font_article";
    color: black;
}

/*button*/
button{
    margin-top: 3%;
    width: 15%;
    height: 10%;
    border-radius: 30px;
    max-width: 200px;
    min-width: 120px;
    font-size: 120%;
    border: 3px solid black;
    background-color: rgba(0,0,0, .01) ;
    color: black;
    transition: all 0.3s linear;
}
button:hover{
    background-color: rgba(100,100,100, .35) ;
    width: 17%;
    height: 11%;
    
}
button:hover a{
    color: background-color: rgba(100,100,100, .35) ;
    font-size: 100%;
}
button>a{
    text-decoration: none;
    color: black;
    font-family: font_article;
    font-weight: 700;
    transition: all 0.3s linear;
    
}


/*footer*/
footer{
    height: 10vh;
    width: 100%;
    position: relative;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    border-top: 1px solid grey;
    color: black;
    font-family: "font_article2"; 
    font-weight: 700;
    
}
footer img{
    height: 90%;
    
}
footer div{
    font-size: 1.5vh;
    color: white;
}

/*menu - style*/

@media all screen and (min-width: 900px or min-device-width: 1000px){
    #menu2{
        top: 0;
        left:0;
        z-index: 2;
        position: fixed;
        width: 100%;
        height: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: black;

    }
    #menu2 > ul{
        list-style-type: none;
        width: 100%;
        height: 100%;

    }
    #menu2 li{
        float: left;
        width: 24%;
        height: 100%;
        display: flex;
        position: relative;
        justify-content: space-around;
        align-items: center;

        &:hover{
        font-weight: 700;
        }
    }
    #menu2 li a{
        color: white;
        font-family: "font_article";
        text-decoration: none;
        font-size: calc(0.5vw + 0.6vh + 5px);
    }
    #menu2 li a::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 2px;
        background-color:white ; /* Kolor linii */
        transform: scaleX(0); /* Początkowo linia niewidoczna */
        transition: transform 0.4s ease; /* Animacja pojawienia się linii */
    }
    #menu2 li:hover a::after{
        transform: scaleX(1);
        

    }
    #menu input{
        display: none;
    }
    
}
/*menu for mobile phones*/
@media all screen and (max-width: 900px or max-device-width: 1000px){

/*menu*/
    #menu {
      
       width: 100%;
        height: 5em;
        position: absolute;
        top: 0;
        left: 0;
    }

    #menu2 {
      display: flex;
      flex-direction: column;
      position: relative;
      left: 5vw;
      z-index: 1;
      user-select: none;
    }

    #menu2 a {
        text-decoration: none;
        font-family: "font_article";
        color: white;
        opacity:1;
        font-size: 1.5em;
        font-weight: 400;
        transition: 200ms;

        &:hover {
            opacity:0.5;
        }
    }

    ul {
      padding: 0;
      list-style-type: none;
    }

    #menu input
    {
      display: flex;
        
      width: 40px;
      height: 40px;
      position: absolute;
        top: 2vh;
        left: 3vw;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
    }

    #menu span
    {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        top: 3vh;
        left: 5vw;
        background: black;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      opacity 0.55s ease;
        }

    #menu span:first-child
    {
      transform-origin: 0% 0%;
    }

    #menu span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }

    #menu input:checked ~ span
    {
        z-index: 2;
      opacity: 1;
      transform: rotate(45deg) translate(-3px, -1px);
      background: white;
    }
    #menu input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menu input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
        background-color: white;
    }

    #menu2
    {
      position: absolute;
      width: 30vw;
      height: 100vh;
      margin: -50px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      background-color: black;
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu2 li
    {
      padding: 10px 0;
      transition-delay: 2s;
    }

    #menu input:checked ~ ul
    {
      transform: none;
    }
}